body {
    background-color: #000;
    color: #aaa;
}
ul,
li {
    list-style-type: none;
}

h1 {
    font-family: 'Zen Dots', cursive;
    text-transform: uppercase;
    text-align: center;
    margin: 80px 0;
}

.planetContainer {
    display: flex;
    flex-wrap: wrap;

}